body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    color:#333;
    line-height:1.6;
}


*, 
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing:border-box
}


.container {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

/* Intro */

.intro {
    width: 100%;
    height:100vh;
    background: url(img/ay.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width:100%;
    max-width: 880px;
    margin:0 auto;
    text-align: center;

}

.intro__title {
    font-size:90px;
    font-weight: 700;
    text-transform: uppercase;
    line-height:1;
    color:#fff;
}

.intro__title:after {
    content: "";
    display:block;
    width: 60px;
    height: 3px;
    margin: 60px auto ;

    background-color: #fff;
}

.intro__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size:70px;
    color:#fff;
    margin-bottom: 20px;
}


h1, h2, h3, h4, h5, h6 {
    margin:0;
}


/* Header */


.header {
    position:absolute;
    top:0;
    left :0;
    right:0;
    z-index:1000;
    padding-top:30px;
}

.header__inner {
    display: flex;
    justify-content:space-between;
    align-items:center;
}


.header__logo {
    font-size:30px;
    font-weight:700;
    color:#fff;
}


.nav {
    font-size:14px;
    text-transform: uppercase;
}

.nav__link {
    color:#fff;
    text-decoration: none;
    transition:color 0.2s linear;
    vertical-align: top;
    display:inline-block;
    vertical-align:top;
    margin:0 15px;
    position:relative;
}

.nav__link::after {
    content: "";
    display:block;
    width: 100%;
    height: 3px;
    
    
    background-color: #fff;
    opacity: 0;

    position:absolute;
    top:100%;
    left:0;
    z-index:1;

    transition: opacity .1s linear;

}

.nav__link:hover {
    color:#fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity:1;
}

.nav__link.active {
    color:#fce38a;
}

/* button */

.btn {
    display: inline-block;
    vertical-align:top;
    padding:8px 30px;


    border:3px solid #fff;
    
    color:#fff;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 700;
    text-decoration: none;

    transition: background .1s linear, color .1s linear ;
}


.btn:hover {
    background-color: #fff;
    color:#333;
}

/* Slider */

.slider {
    display:flex ;
    justify-content: space-between;
    margin-top:30px;
}

.slider__item {
    width: 24%;
    padding:20px 0;
    position:relative;
    border-top:3px solid #fff;

    opacity: 0.7;

    font-size:18px; 
    color:#fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity:1;
}

.slider__item.active::before {
    content: "";
    display:block;
    width: 70px;
    height: 3px;

    background-color:#f38181; ;

    position: absolute;
    top:-3px;
    left:0;
    z-index: 1;
}


.slider__num {
    font-size:24px;
    font-weight: 700;
}